body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 7px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #b4794c; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c230f; 
  border-radius: 100px;
}